.dropdown{
    position:absolute;
    z-index: 20;
    width:300px;

    background-color: rgb(255, 255, 255);
    top:105px;
  left:10px;
    box-shadow: 1px 2px 10px rgb(109, 108, 108);
}
.dropdown>ul{
list-style: none;
}
.dropdown>ul> a>li{
   
   
padding:2px 5px;
font-size: 15px;
color:rgb(107, 107, 107);
font-weight: 400;
}
.dropdown>ul>a>li:hover{

  color:white;

  background-color: rgb(237, 92, 133);
  
}