.cart{
    width:90%;
    margin: 0 auto;
}
.cart>.empty{
    width:100%;
    height:80vh;
    border:1px solid rgb(237, 102, 125);
   margin:0 auto;
    display:flex;
flex-direction: column;
    justify-content: center;
   align-items: center;
    
}
.cart .empty h1{
    font-size:50px;
    color:rgb(99, 99, 99);
    font-weight: 600;
    text-align: center;
}
.cart p{
    font-size:15px;

}