.search{
    width:90%;
    height:auto;
    border:1px solid rgb(240, 54, 85);
    margin:0px auto;
   padding-bottom: 100px;
    display:flex;
    flex-direction: column;
    gap:40px;
}
.search>h1{
    
    font-size:50px;
    font-weight: 500;
    color:rgb(123, 123, 123);
    font-family: 'Roboto';
    width:90%;
    margin: 0 auto;
    margin-top: 40px;
}
.search-criteria{
    display: flex;
    flex-direction: column;
    gap:10px;
    width:90%;
    margin: 0 auto;
}
.search-criteria>p{
font-family: 'Roboto';
}
.searchfield{
    display: flex;
    gap:100px;
    width:100%;
    margin:0 auto;
}
.fields{
    display:flex;
    width: 40%;
    flex-direction: column;
    gap:10px;
}
.fields div{
    display:flex;
    gap:10px;
}
.fields div p{
font-size: 12px;
}
.fields input[type=text], .fields select{
    width:100%;
    height:40px;
    font-size:15px;

}
.fields input[type=text]{
    padding-left:5px;
}
.search-button{
    height:40px;
    display:flex;
    justify-content: flex-end;
    width:80%;
   margin-left: 60px;
    
}
.search-button button{
    width:100%;
    height:100%;
    background-color: rgb(5, 92, 213);
    outline:none;
    font-size: 18px;
    border:none;
    color:white;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(6, 93, 215),-1px -1px 5px rgb(6, 93, 215);
}
.search hr{
    width:90%;
    margin: 0 auto;
}
.searchresult h1{
    margin:0 auto;
    width:90%;
    font-size: 40px;
    color:rgb(88, 88, 88);
    font-family: 'Roboto';
}
.searchresult p{
 width:90%;
 margin: 0 auto;
}
.searchresult{
    display: flex;
    flex-direction: column;
    gap:50px;
}
.searchitems{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 50px;
    row-gap: 30px;
   height:auto;
   margin-left:60px;
   padding-bottom: 50px;
}
a{
    height:100%;
    width:150px;
}